@import './../../../styles/utils.scss';

:host {
  @include flex(space-evenly, center, row);
  width: 100%;
  height: get-vh(180px);
  padding: 48px;
  box-sizing: border-box;
  position: relative;
}

.stats {
  @include flex(center, center, column);

  &__number {
    font-size: em(64);
    font-family: 'centurion';
    // background: linear-gradient(180deg, $main-color 0%, #c48e6e 100%);
    // background-clip: text;
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 10s infinite linear;
    font-weight: bold;
  }

  &__text {
    font-size: em(14);
    color: #f4f2edb3;
  }
}


@keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

div {
  width: fit-content;
}

h3 {
  margin: .1em 0;
  position: relative;
  display: flex;
  align-items: baseline;
  font-size: rem(50);
}

h3+span {
  display: block;
  width: 100%;
  text-align: right;
}

#number {
  position: relative;
  display: flex;
  margin-right: .2em;
  width: 0;
  overflow: hidden;
  height: 50px;
  transition: width 1.8s ease;
}

#number>span {
  display: flex;
  text-align: center;
  flex-direction: column;
  opacity: 0;
  flex-shrink: 2;
  flex-basis: 50px;
  width: 1px;
  position: absolute;
  right: 0;
  line-height: 50px;
  transition: all 1.8s ease;
}

#number>span.visible {
  position: static;
  width: 30px;
  opacity: 1;
  flex-shrink: 1;
}