@import './../../../styles/utils.scss';

:host {
  @include flex(space-evenly, center, row);
  width: 100%;
  height: get-vh(180px);
  padding: 48px;
  box-sizing: border-box;
}

.stats {
  @include flex(center, center, column);

  &__number {
    font-size: em(64);
    font-family: 'centurion';
    background: linear-gradient(180deg, $main-color 0%, #c48e6e 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__text {
    font-size: em(14);
    color: #f4f2edb3;
  }
}