<div class="image">
    <img class="photo" [src]="src" alt="image" loading="lazy">

    <div class="image__text">
        <div class="image__text__header">
            <div class="image__text__header__title">{{title}}</div>
            <div class="image__text__header__desc">{{desc}}</div>
        </div>
        <div class="image__text__btns" (click)="goDown()">
            <div class="image__text__btns__icon">
                <img class="image__text__btns__icon__arrow-down" src="./assets/images/arrow-down.svg" alt="arrow-down"
                    draggable="false">
            </div>
            <div class="image__text__btns__btn-text">EXPLORE</div>
        </div>
    </div>
</div>