<div class="image" id="card" (click)="goTo(title)" [class.inProgress]="number > 4">
    <div class="photo">
        <img [src]="src" alt="image" loading="lazy" draggable="false" appParallax>
    </div>

    <div class="image__text">
        <div class="image__text__header">
            <div class="image__text__header__title">{{title}}</div>
            <div class="image__text__header__btn">
                <div class="image__text__header__btn__img">
                    <img class="image__text__header__btn__img__arrow" src="./assets/images/arrow-up-right.svg"
                        alt="arrow-up-right" draggable="false">
                </div>
                <div class="image__text__header__btn__desc">Discover project</div>
            </div>
        </div>
        <div class="image__text__btn">
            <div class="image__text__btn__text">Chapter {{number}}</div>
        </div>
    </div>
</div>