@import './../../../styles/utils.scss';

:host {
  @include flex(center, center, column);
  width: 100%;
  height: get-vh(1080px);
  border-radius: 8px;
}

.image {
  @include flex(flex-end, center, column);
  width: 100%;
  height: get-vh(1080px);
  position: relative;
  cursor: pointer;


  @media (max-width: 809px) {
    height: get-vh(360px);
  }

  .photo {
    @include img(100%, 100%, cover, center);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 8px;
    z-index: -1;
    transition: all .4s ease-in-out;
  }

  &__text {
    @include flex(space-between, flex-end, row);
    width: 100%;
    padding: get-vh(64px);
    box-sizing: border-box;

    &__header {
      @include flex(center, flex-start, column);
      color: $white;
      width: 40%;
      gap: 16px;

      &__title {
        font-size: em(80);
        font-family: 'averox';
      }

      &__btn {
        @include flex(center, center, row);
        gap: 10px;

        &__img {
          @include flex(center, center, column);
          width: get-vh(32px);
          height: get-vh(32px);
          padding: 8px;
          box-sizing: border-box;
          border: 1px solid $white;
          border-radius: 100%;
          background-color: rgba(255, 255, 255, .05);

          &__arrow {
            width: get-vh(22px);
            height: get-vh(22px);
            transition: transform .4s ease-in-out;
          }
        }

        &__desc {
          font-size: em(14);
        }


      }
    }

    &__btn {
      @include flex(center, center, column);
      gap: 10px;
      border: 1px solid rgb(232, 232, 232);
      backdrop-filter: blur(15px);
      background-color: rgb(255 255 255 / 5%);
      border-radius: 6px;
      opacity: 1;
      padding: 8px;
      box-sizing: border-box;
      text-transform: uppercase;

      &__text {
        font-size: em(13);
      }
    }
  }

  &:hover,
  &:focus,
  &:active {
    cursor: pointer;

    .image__text__header__btn__img__arrow {
      transform: rotate(45deg);
    }
  }
}

.inProgress {
  opacity: .3;
  pointer-events: none;

  // write in progress in the middle
  &::before {
    @include flex(center, center, column);
    content: 'In Progress...';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    color: $white;
    font-size: em(40);
    font-family: 'averox';
    z-index: 1;
  }


}