<div class="image" id="card" (click)="goTo(title)" (mousewheel)="onMouseWheel($event)" (scroll)="onScroll($event)"
    [class.inProgress]="number > 2">
    <img class="photo" [src]="src" alt="image" #image appLazyImg draggable="false">

    <div class="image__text">
        <div class="image__text__header">
            <div class="image__text__header__title">{{title}}</div>
            <div class="image__text__header__btn">
                <div class="image__text__header__btn__img">
                    <img class="image__text__header__btn__img__arrow" src="./assets/images/arrow-up-right.svg"
                        alt="arrow-up-right" draggable="false">
                </div>
                <div class="image__text__header__btn__desc">Discover project</div>
            </div>
        </div>
        <div class="image__text__btn">
            <div class="image__text__btn__text">Chapter {{number}}</div>
        </div>
    </div>
</div>