// @import './../../styles/utils.scss';

.main {
    display: block;
    position: relative;
    height: 100vh;
    width: 100vw;
    font-size: 1em;

    @media (min-width: 810px) and (max-width: 1199px) {
        height: inherit;
    }
}