@font-face {
    font-family: 'anurati';
    src: url('./../src/assets/fonts/Anurati-Regular.otf');
}

@font-face {
    font-family: 'averox';
    src: url('./../src/assets/fonts/averox.otf');
}

@font-face {
    font-family: 'satoshi';
    src: url('./../src/assets/fonts/Satoshi-Regular.otf');
}

@font-face {
    font-family: 'centurion';
    src: url('./../src/assets/fonts/CENTURION.ttf');
}